---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
PointerAlignment: Left
ReferenceAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInSquareBrackets: false
AccessModifierOffset: -4
IndentAccessModifiers: false
SortIncludes: true
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
BinPackArguments: false
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments: true
MaxEmptyLinesToKeep: 10
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
---
Language: Json
DisableFormat: true
